Debug
*.sdf
*.opensdf
WebSocketServer/WebSocketServer/WebSocketServer.vcxproj.filters
WebSocketServer/WebSocketServer/WebSocketServer.vcxproj.user
*.log
/WebSocketServer/ipch/websocketserver-c0857232/*.ipch
/WebSocketServer/WebSocketServer/*.aps
